/*
    blue #4abdac
    red #fc4a1a
    yello #f7b733
    white #dfdce3
*/
/*.navbar{
    background-color:#4abdac;
    border-radius: 25px;
    margin: auto;
    width: 75%;
    text-align: center;
}*/

.navbar{
    height: 100%; 
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4abdac;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 0px 25px 25px 25px;
}
.navbar-item{
    display:inline-block;
    margin: 15px;
    text-decoration: none;
    color: #f7b733;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20pt;
}

.navbar-item:hover{
    background-color: #b4e4dd;
}
.header-section{
    text-align: center;
    top: 0px;
    left:40%;
    transform:translateX(-50%);
    position: fixed;
    background-color: grey;
    width:100%;
    max-width: 640px;
    z-index: 1;
    text-align: center;
    display: block;    
    margin-left: 160px;
}
.title{
    color: #26222a;
    text-align: center;
    text-shadow: 1px 1px #7e718e;
    font-size: 2.5em; 
    font-family: "Arial Black", Gadget, sans-serif;
}
.subtitle{
    color: #26222a;
    text-align: center;
    text-shadow: 1px 1px #7e718e;
    font-size: 1.5em;
    font-family: "Arial Black", Gadget, sans-serif;
}
.header-container{
    text-align: left;
}
.questions-section{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 160px;
    margin-left: 160px;
}
.question{
    background-color:#4abdac;
    border-radius: 25px;
    width: 75%;
    text-align: center;
    margin: 10px 0px 10px 0px;
    margin-left: 0 auto;
}
.question-header{
    color: #f7b733;
    font-family: "Arial Black", Gadget, sans-serif;
}